---
import '@/styles/globals.css'

import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Pawlygon." scrollColor="red">
	<main class="grid h-full w-full grid-cols-2 gap-2">
		<div
			class="col-span-full border-b-2 border-muted text-center align-middle md:col-span-1 md:border-b-0 md:border-r-2"
		>
			<h1>Welcome to Pawlygon.net!</h1>
		</div>
		<div>def</div>
	</main>
</Layout>
