---
import '@/styles/globals.css'

import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Pawlygon.">
	<main>
		<div
			class="place-ontent-center relative m-2 max-h-screen min-h-48 overflow-hidden rounded-2xl md:m-8 md:aspect-video"
		>
			<video muted autoplay class="absolute w-full object-fill" src="/test.mp4"> </video>
			<div
				class="h-full w-full backdrop-blur-md backdrop-brightness-150 backdrop-saturate-50 dark:backdrop-brightness-50"
			>
				<h1 class="text-center align-middle text-4xl font-bold xl:text-8xl">
					Welcome to Pawlygon!
				</h1>
				<p class="text-center align-middle text-2xl font-bold xl:text-6xl">
					Where your dreams come true
				</p>
			</div>
		</div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a velit at neque viverra
			faucibus. Donec non malesuada massa. Pellentesque nec risus non purus eleifend commodo vitae
			sed tortor. Praesent pulvinar dui id dui tincidunt, vitae vestibulum nisl facilisis. Donec
			quam augue, pharetra a facilisis nec, convallis eget tortor. Class aptent taciti sociosqu ad
			litora torquent per conubia nostra, per inceptos himenaeos. Aenean rhoncus, massa sed rutrum
			rhoncus, leo neque condimentum elit, finibus porttitor ligula tortor eget quam. Maecenas
			faucibus eu arcu eget facilisis. Nulla facilisi. Suspendisse pharetra feugiat interdum.
			Quisque sem justo, fringilla id lacinia quis, posuere ac nisl. Nullam sollicitudin libero a
			neque vestibulum, mollis elementum ante interdum. Duis volutpat lacus nec felis ultricies,
			commodo egestas nunc ultricies. Sed eu lacus arcu. Fusce non risus vestibulum sem suscipit
			condimentum eu vel quam. Fusce dui ex, scelerisque sed dolor auctor, pellentesque tristique
			magna. In hendrerit ante diam, a maximus ipsum pretium at. Ut ante erat, gravida in orci et,
			congue ullamcorper quam. Donec euismod interdum velit, et luctus felis fringilla id. Proin
			ultrices vitae urna non aliquam. Maecenas imperdiet pulvinar est sed lacinia. Aenean dui leo,
			ullamcorper vitae metus in, rutrum auctor massa. Donec iaculis ante a magna venenatis
			sagittis. Quisque efficitur luctus mollis. Ut id vehicula leo, vel consequat ante. In nec
			massa venenatis, semper ligula sed, dictum justo. Nullam sit amet risus nunc. Mauris elementum
			vehicula tellus, feugiat cursus justo ullamcorper nec. Nam faucibus est sit amet nunc dictum
			pretium. Maecenas lectus orci, faucibus pellentesque volutpat quis, congue efficitur ex. Lorem
			ipsum dolor sit amet, consectetur adipiscing elit. Nullam est nulla, cursus at elit ut, luctus
			sodales ipsum. Maecenas neque justo, congue non nulla non, ultrices venenatis dolor. Quisque
			ultrices odio sit amet enim sodales, non porttitor libero vestibulum. Nunc vitae urna non nisl
			rutrum aliquam. Proin molestie nisi sed massa viverra, tristique dignissim massa dictum. Fusce
			id libero diam. Quisque rutrum diam vitae dolor dignissim dapibus. Aenean lacinia accumsan
			diam vitae scelerisque. Vivamus mi quam, eleifend sed dui sit amet, viverra accumsan diam.
			Aenean vitae est sit amet ligula ultricies interdum. Class aptent taciti sociosqu ad litora
			torquent per conubia nostra, per inceptos himenaeos. Aenean suscipit ultrices enim at euismod.
			Pellentesque tempor turpis vitae leo rutrum elementum. Sed egestas ullamcorper urna id
			rhoncus. In venenatis urna quis fringilla mollis. Morbi vestibulum tempor tortor, ac ornare
			tortor pellentesque ac. Integer efficitur fermentum scelerisque. Morbi bibendum magna at ipsum
			tristique, in accumsan lectus congue. Etiam molestie aliquet diam eu fringilla. Donec vitae
			porta lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
			turpis egestas. Vivamus erat quam, luctus ut massa eget, laoreet venenatis nulla. Proin non
			pretium lacus, ut molestie purus. Donec facilisis quam nunc, nec hendrerit ante bibendum quis.
			Morbi sit amet erat convallis, congue nisi id, elementum dui. Ut massa sem, eleifend et
			hendrerit sed, suscipit vitae mauris. Etiam lobortis mi et erat semper, ut ultrices nunc
			rutrum. Integer maximus placerat nulla, in aliquet eros ornare quis. Vestibulum ante ipsum
			primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec porttitor, felis eu
			lacinia placerat, massa enim aliquet augue, eu ornare augue erat vitae eros. In mi purus,
			iaculis eu mi eu, pulvinar rhoncus neque. Suspendisse faucibus porttitor odio, sit amet
			condimentum libero auctor ut. Vivamus imperdiet nulla in finibus pharetra. Aenean scelerisque
			convallis tellus quis rutrum. Donec aliquet, neque nec rhoncus volutpat, odio eros suscipit
			nisi, sit amet placerat nulla lectus quis nulla. In quis magna enim. Fusce erat risus,
			bibendum eget sodales vitae, convallis eu odio. Pellentesque tempor, augue vitae sodales
			aliquet, nisl metus pretium neque, quis dignissim neque justo eget nibh. Aliquam erat
			volutpat. Morbi imperdiet iaculis eros. Cras malesuada pharetra venenatis. Sed vitae tristique
			nibh. Suspendisse non diam luctus, feugiat turpis et, placerat neque. Duis non ligula in augue
			pellentesque consequat quis eu mauris. Curabitur vitae rutrum justo. In vestibulum fermentum
			libero sed imperdiet. Fusce lorem mi, rhoncus eget libero nec, consequat hendrerit nisi. Morbi
			sit amet dolor sit amet ipsum dapibus viverra. Donec vitae augue varius, finibus lorem et,
			aliquet nibh. Etiam dignissim consectetur neque ac tristique. Nunc vitae lobortis purus.
			Curabitur eget tellus in erat mollis molestie vel nec purus. Vivamus pretium augue vitae
			turpis convallis ultricies. Praesent et fringilla felis. Integer sed hendrerit orci, ac
			euismod neque. Mauris viverra mattis porta. Praesent vitae libero leo. Nullam pulvinar iaculis
			vulputate. Integer ac est accumsan, convallis massa in, venenatis libero. Curabitur sem velit,
			facilisis ut dignissim feugiat, porttitor sit amet enim. Aenean eu rhoncus neque. Vestibulum
			ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus mattis,
			nunc varius tristique euismod, eros ex pellentesque sapien, eu volutpat ante odio vel massa.
			Fusce tincidunt velit ac sapien efficitur, non imperdiet metus consequat. Sed vel ex eget arcu
			ultrices pellentesque non sed velit. Maecenas vel pharetra leo. In magna mauris, sollicitudin
			ut egestas sed, lacinia vitae purus. Curabitur hendrerit ipsum nec arcu tempus porttitor. Sed
			quis urna semper, consectetur nulla at, accumsan dolor. In scelerisque dolor in ante ultrices
			interdum. Sed tincidunt libero ante, vehicula egestas diam commodo sed. Integer pulvinar
			mauris quis sem faucibus suscipit. In leo lectus, rutrum quis faucibus nec, hendrerit vitae
			libero. Nulla facilisi. Vivamus non nulla id massa maximus ultrices sit amet eget dolor.
			Aenean ipsum turpis, fermentum a lobortis fermentum, consequat eget elit. Donec lacinia
			lobortis nisl, quis gravida orci congue vitae. Sed velit lorem, condimentum nec feugiat eget,
			tempus nec ante. Integer semper, velit sed dapibus congue, mi quam lobortis purus, eu
			sollicitudin urna nisl a nunc. Praesent sit amet tortor vitae justo lacinia consectetur. Cras
			in accumsan justo. Pellentesque vitae enim eu sapien finibus pharetra at rhoncus nulla. Nullam
			volutpat felis et convallis venenatis. Morbi sit amet turpis at justo condimentum sagittis in
			et nisl. Proin gravida purus ut turpis viverra, nec feugiat tellus laoreet. Donec quam mauris,
			convallis id vestibulum malesuada, sodales non augue. Nulla ullamcorper enim metus, ac
			tristique elit efficitur sed. Fusce arcu mauris, posuere et accumsan sit amet, dictum et
			tortor. Aliquam tellus justo, luctus ac fermentum non, semper et mi. Nulla facilisi. Praesent
			ut magna ac tortor iaculis dictum non efficitur libero. Vestibulum nec eros a nisl facilisis
			volutpat a id diam. Sed tellus lorem, tincidunt in urna et, ultrices gravida magna. Etiam
			ultrices facilisis nunc mollis accumsan. Curabitur ornare scelerisque metus ut laoreet.
			Maecenas facilisis orci eu diam sagittis feugiat. Maecenas at facilisis sem. Ut vitae tortor
			nunc. Nulla convallis diam quis nisl accumsan venenatis. Etiam mollis suscipit ex in lobortis.
			In fermentum elit nunc, eu ullamcorper nulla sollicitudin et. Aenean felis felis, tincidunt
			quis commodo auctor, ultricies sit amet odio. Fusce egestas sagittis purus, non iaculis dui
			imperdiet ac. Suspendisse magna dolor, gravida ultricies efficitur in, volutpat nec odio. In
			lobortis leo at nisi egestas euismod. Etiam vestibulum venenatis commodo. Etiam ut magna non
			magna vestibulum imperdiet sit amet rutrum lectus. Vivamus sit amet gravida est. Sed tortor
			purus, mattis eu consequat a, rutrum ac lorem. Ut efficitur placerat nisi, sed aliquam sapien
			porta id. Phasellus efficitur a lorem ut commodo. Duis ornare dolor sit amet lobortis
			malesuada. Fusce in dui at leo pulvinar accumsan et vel metus. In hac habitasse platea
			dictumst. In nibh neque, posuere vel feugiat vitae, elementum ac nunc. Fusce luctus
			condimentum suscipit. Nam tempor varius velit. Aenean tempus nulla ut sodales gravida. Mauris
			lacinia iaculis cursus. Integer enim neque, cursus nec mollis eget, semper accumsan massa. Ut
			porta ultrices rutrum. Proin eget libero urna. Cras condimentum porta facilisis. Vestibulum
			non ante a ligula pulvinar ultricies eu ac odio. Curabitur non sollicitudin augue. Integer
			bibendum nisl sed luctus fringilla. Proin placerat nunc dolor, vestibulum eleifend magna
			pharetra et. Fusce porta sodales lectus id tempor. Donec eleifend metus sit amet ornare
			finibus. Pellentesque risus dolor, finibus ut venenatis tincidunt, commodo quis risus.
			Pellentesque tristique, urna vitae condimentum dictum, dui risus fermentum turpis, eu rutrum
			nibh massa sit amet sem. Donec finibus mollis ipsum quis hendrerit. Cras dictum nisl lacus, in
			sollicitudin nisi vulputate ac. Vestibulum eleifend iaculis viverra. Duis et diam tempor,
			pretium urna ac, molestie enim. In hac habitasse platea dictumst. Maecenas ultricies commodo
			feugiat. Nam elit felis, porttitor vitae lectus vel, maximus ultrices est. Donec vitae finibus
			turpis. Nam ornare nisl tempus purus facilisis vehicula. Duis arcu quam, sodales quis egestas
			sit amet, maximus at quam. Mauris sit amet urna vel ex placerat mattis eu vel lacus. Phasellus
			et lectus dapibus, dignissim felis nec, laoreet lectus. Donec sagittis congue nibh, eget
			tempor nulla congue sed. Integer eu lorem vitae augue cursus iaculis. Aliquam non lacus ut ex
			tincidunt euismod vel efficitur mi. Cras elit tortor, vulputate vel malesuada nec, convallis
			eu nibh. Nunc rhoncus scelerisque lacus sed lacinia. Aenean quis ante eu dui accumsan accumsan
			vel in eros. Nulla faucibus arcu nisl, non elementum dui gravida sit amet. Mauris at est a
			lacus ultricies vehicula sed ut justo. Duis in posuere ex. Integer urna erat, venenatis in ex
			vel, laoreet hendrerit enim. Vivamus hendrerit nec lectus imperdiet tristique. Sed luctus sed
			elit semper suscipit. Mauris ac neque lacinia, dictum metus eget, lacinia augue. Vestibulum
			tristique nisl urna, vel accumsan magna scelerisque sit amet. Etiam vehicula hendrerit nisi ut
			finibus. Nam efficitur tellus nulla, nec scelerisque leo eleifend vel. Aenean quis erat metus.
			Duis molestie suscipit leo eu tincidunt. Nunc porta tellus euismod, euismod metus eget,
			pellentesque ante. Integer orci magna, porta ut rutrum a, ultricies a nisl. Quisque ultricies
			hendrerit massa eu aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
			venenatis id urna ac condimentum. Quisque suscipit placerat turpis, nec cursus leo auctor
			quis. Suspendisse ac fermentum justo. Proin ut viverra mauris. Praesent eu accumsan lacus. Sed
			a quam molestie, pellentesque odio auctor, euismod dolor. Mauris ac pharetra turpis, vitae
			placerat lacus. Proin et ultricies mi, eget luctus magna. Pellentesque habitant morbi
			tristique senectus et netus et malesuada fames ac turpis egestas. Morbi placerat vel odio non
			tristique. Suspendisse fermentum ornare neque, nec elementum diam. Suspendisse non purus nec
			dolor pharetra dictum. Cras molestie varius feugiat. Praesent id pulvinar leo, quis tempus
			sapien. Nullam auctor justo vel urna fermentum euismod. Mauris in ullamcorper tellus, sit amet
			finibus elit. Morbi consectetur quis dui eu bibendum. Maecenas nec malesuada odio. Fusce sit
			amet elit vitae ipsum placerat tempus eget eu sapien. Class aptent taciti sociosqu ad litora
			torquent per conubia nostra, per inceptos himenaeos. Proin at purus at enim euismod accumsan
			quis sit amet turpis. Praesent efficitur ut metus at tempor. Vivamus ornare tortor at maximus
			vestibulum. Etiam sed libero eget nunc sodales porta. Nullam at mi felis. Fusce at leo vitae
			odio efficitur maximus. Nunc in dolor lobortis, interdum leo a, luctus magna. Proin efficitur
			nunc eget orci hendrerit suscipit. Pellentesque imperdiet egestas tempus. Nullam vestibulum
			lacinia molestie. Integer ac sollicitudin lacus, ac semper neque. Morbi eget lobortis purus,
			at faucibus tortor. Curabitur in eros quis ipsum viverra imperdiet. Suspendisse pretium sit
			amet nulla eget eleifend. Pellentesque ac tincidunt nulla. Proin rutrum odio non diam euismod,
			et ultricies orci sodales. Suspendisse finibus enim diam, non commodo purus tincidunt eu.
			Donec pretium justo at dolor gravida, non pulvinar odio lobortis. Cras placerat placerat
			magna, id maximus elit tincidunt sit amet. Aliquam molestie mi ut lorem tempus malesuada.
			Praesent pulvinar augue et nunc finibus molestie. Integer vitae vehicula risus. Sed maximus
			varius auctor. Vestibulum finibus lacus a lacus volutpat, et elementum nulla aliquam. Sed quis
			faucibus justo. Duis convallis ante et laoreet imperdiet. Vivamus pulvinar, ipsum sed euismod
			condimentum, ligula dolor vestibulum tortor, eu dictum orci augue tincidunt massa. Class
			aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce a
			mollis orci. Etiam non eros tincidunt, dignissim nibh sit amet, imperdiet purus. Nam fermentum
			imperdiet sollicitudin. Maecenas eu nunc non est convallis maximus eget quis augue. Nulla eu
			libero ut urna vulputate fermentum sagittis vitae turpis. Morbi rhoncus, dolor vitae ornare
			placerat, quam lectus placerat mauris, ac dapibus orci erat maximus diam. Maecenas tempus
			purus eget massa rhoncus, sit amet elementum mi convallis. Praesent id interdum arcu. Class
			aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam
			dignissim orci enim, vitae tempus mauris tincidunt vitae. Morbi a nisi luctus tellus facilisis
			blandit vitae ut felis. Sed neque mi, accumsan ut fermentum vitae, vulputate maximus nibh.
			Curabitur at posuere erat, nec scelerisque nibh. Aenean turpis libero, sagittis et massa vel,
			auctor lacinia eros. Integer ultrices, ante sed cursus pharetra, purus leo vestibulum enim,
			vitae bibendum turpis arcu in nunc. Donec cursus blandit ipsum. Cras eu malesuada felis. Class
			aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam ut
			quam dolor. Duis non enim tortor. Etiam sagittis, justo dictum sodales aliquam, enim diam
			dapibus tortor, id sollicitudin ipsum sem id sem. Suspendisse sit amet ante turpis. Proin
			venenatis libero tortor, quis consequat mauris varius sit amet. Donec ut nulla quam. Duis
			sodales purus a diam posuere sodales. Suspendisse sagittis ante non est mattis euismod.
			Aliquam sit amet ipsum suscipit, gravida libero vel, efficitur neque. Cras vitae tempus elit.
			Etiam condimentum, mi ut dictum egestas, sem tortor facilisis nibh, et facilisis tortor leo
			pharetra neque. Vivamus quam ipsum, tristique eget felis vel, dictum lobortis justo. Phasellus
			posuere velit quis pellentesque blandit. Duis aliquet eget ipsum et pulvinar. Sed facilisis,
			ligula et elementum fringilla, lorem sapien iaculis tellus, in suscipit nibh nunc nec lorem.
			In id enim massa. Sed condimentum placerat arcu, elementum vulputate orci. Aenean ut elit at
			tortor rutrum porta. Morbi sed arcu et tortor tempus cursus. Pellentesque cursus, libero et
			pulvinar iaculis, nulla ipsum facilisis tortor, a euismod nunc risus sed leo. Sed tincidunt id
			diam quis tristique. Duis ac viverra lacus. Suspendisse vel gravida nisl. Nulla porttitor
			vestibulum erat, a dictum libero. Sed sed sem venenatis, maximus orci id, tincidunt lacus.
			Cras placerat tristique enim, vitae pellentesque nisi ornare id. Nulla erat felis, ultrices ac
			eros sit amet, fringilla pharetra libero. Donec fermentum placerat augue. Cras condimentum
			enim ut tristique rhoncus. Aenean aliquet nisl dictum blandit auctor. Nam volutpat nunc non
			lectus scelerisque, vel euismod neque faucibus. Donec consequat neque sed velit vestibulum
			eleifend. Curabitur placerat dui ut augue ullamcorper consequat. Nullam commodo eget tortor
			vitae vehicula. Donec elit diam, interdum eu mauris convallis, volutpat consectetur augue.
			Praesent porta leo auctor sapien aliquet sollicitudin. Pellentesque vitae est odio. Aliquam
			vitae felis id lorem interdum imperdiet sed nec leo. Morbi tempor porta consequat. Fusce
			congue nulla eget tortor efficitur, a semper magna venenatis. Curabitur vel dapibus nibh. Nam
			malesuada sagittis dui, nec tincidunt arcu interdum non. Donec pretium ut mi id pretium. Nam
			scelerisque purus ante, sit amet maximus quam rhoncus ut. Morbi ornare facilisis purus, eget
			porta lectus molestie quis. Proin fringilla sollicitudin elementum. Suspendisse a venenatis
			nunc, sed euismod quam. Cras augue sem, tempor vel urna vel, pharetra rhoncus est. Donec
			luctus lacus sed diam dictum viverra. Donec ut tempor neque, in rhoncus odio. Class aptent
			taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras vitae
			lorem sed nibh euismod lacinia. Phasellus at magna nisl. Etiam vel lectus justo. Maecenas eget
			imperdiet tortor. Etiam vitae vehicula dolor, nec porta neque. Maecenas vel fermentum turpis,
			bibendum condimentum quam. Phasellus eu placerat eros, ut semper tortor. Nam sed congue mi,
			eget facilisis tellus. Donec in hendrerit sapien, et malesuada libero. Curabitur varius
			lobortis magna nec pulvinar. Nunc rutrum semper orci quis feugiat. Vestibulum interdum rutrum
			augue vel rutrum. Proin id mi eget purus eleifend dapibus. Etiam consequat dolor id varius
			cursus. Duis et tempor erat, ac eleifend ex. Maecenas dui arcu, hendrerit finibus placerat in,
			vehicula rhoncus diam. Duis dictum aliquam metus vel luctus. Duis finibus sit amet metus ut
			condimentum. Nunc congue mauris erat. Curabitur vitae mattis sapien. Sed mattis cursus
			placerat. Nullam porttitor maximus purus id suscipit. Nulla fringilla enim a justo volutpat,
			vitae egestas libero fringilla. Integer vel justo eu quam iaculis facilisis. Nulla nunc
			tellus, mattis ut lacinia id, consequat in erat. Fusce sit amet felis eget nibh mollis
			hendrerit egestas eu lacus. Integer in tellus at dui facilisis vestibulum. Nullam sed massa
			quis urna tempus placerat eu non est. Vestibulum vulputate vel eros ac efficitur. Duis purus
			diam, imperdiet sed dapibus ut, ullamcorper in elit. Pellentesque feugiat arcu eget dolor
			ullamcorper sollicitudin. Cras et justo eget leo ullamcorper vulputate. Nulla pretium et ipsum
			eu blandit. Morbi maximus, enim et cursus consequat, lorem nisi accumsan turpis, quis
			malesuada nulla elit tempus magna. Vestibulum in nisi sed mi gravida porttitor. Quisque varius
			justo id tristique ultrices. Sed at velit a purus lacinia efficitur. Sed aliquet magna lectus,
			vel rutrum velit tincidunt vel. Phasellus vel lacinia mi. Sed ultrices sollicitudin ante, sed
			consectetur nisl scelerisque et. Morbi mattis tellus erat, in posuere erat ultricies non.
		</p>
	</main>
</Layout>
